.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2% 5%;
  background-color: #aad2af;
  background-position: center;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

header {
  width: 100%;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
}

.title__container {
  margin: 0 auto;
  width: 65%;
  padding: 1rem;
  background-color: #ff5959;
  border-radius: 50%;
  box-shadow: -.5rem -.1rem 1rem #ff5959;
  margin-bottom: 4rem;
  border: 1px solid #000;
}

.header__title {
  color: transparent;
  background-image: url(https://media.giphy.com/media/3oz8xF2tbONaIIy92M/giphy.gif);
  background-size: fill;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

input[type='text'],
input[type='number'] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 3px outset #348ceb;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.Number-input {
  color: #fff;
  font-weight: bold;
  font-size: 120%;
}

.Number-input-field {
  margin: 0 8px;
  width: 70px;
  text-align: center;
}

.city {
  width: 250px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.events-container {
  width: 100%;
  margin-top: 1rem;
}

.Event-grid__item {
  display: inline-block;
  width: 33%;
}

.EventList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  color: #284d5e;
}

.Event-grid-item {
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  border-radius: 50px;
  box-shadow: 0 1px 3px #000, 0 1px 2px #000;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: auto;
  word-break: break-word;
  background-color: #b1b1b1;
  color: #000;
  opacity: 0.8;
}

.Event-description {
  display: block;
  max-width: 100%;
}

.Event-time {
  color: #f00000;
  font-size: 110%;
  font-weight: bold;
}

.Event-name {
  font-size: 120%;
  text-decoration: underline;
  font-style: italic;
  color: #007bff;
  margin: 1rem auto;
}

.Event-details-button {
  display: block;
  right: 5px;
  bottom: 5px;
  padding: 8px 10px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  margin: 3rem auto 0 auto;
  background-color: #000;
  color: #348ceb;
  font-weight: bold;
  width: 33%;
}

.Event-link {
  font-style: italic;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.number-of-events {
  width: 80px;
  margin: 20px 0 50px;
  text-align: right;
}

.chart {
  background-color: #fff;
  border: 5px outset #348ceb;
  border-radius: 35px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .EventList {
    grid-template-columns: 1fr;
  }
}

