* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2% 5%;
  background-color: #aad2af;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.body {
  margin: 1rem 0;
}

header {
  width: 100%;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
}

.app__events-button {
  padding: .5rem;
  font-family: 'Architects Daughter', cursive;
  background-color: #ff5959;
  font-weight: bold;
  width: 17rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: .2rem outset #000;
}

.app__events-button:hover {
  background-color: #aad2af;
}

.title__container {
  margin: 0 auto;
  width: 65%;
  padding: 1rem;
  background-color: #ff5959;
  border-radius: 50%;
  box-shadow: -.5rem -.1rem 1rem #ff5959;
  margin-bottom: 4rem;
  border: .1rem solid #000;
}

.header__title {
  color: transparent;
  background-image: url(https://media.giphy.com/media/3oz8xF2tbONaIIy92M/giphy.gif);
  background-size: fill;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: #000;
}

.number__input {
  color: #000;
  font-weight: bold;
  font-size: 120%;
  font-family: 'Architects Daughter', cursive;
  width: 5rem;
  text-align: center;
}

input[type='text'],
input[type='number'] {
  padding: .5rem .3rem .5rem .8rem;
  border-radius: .5rem;
  font-size: 1rem;
  line-height: 20px;
  align-self: center;
  height: 2.5rem;
  margin: 0 1rem;
  margin-bottom: 2rem;
  font-family: 'Architects Daughter', cursive; 
  font-weight: bold;
}

input[type='number'] {
  width: 4rem;
}

.city {
  width: 250px;
}

.citySearch {
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 20rem;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  font-size: 14px;
  box-shadow: -.1rem -.1rem 1rem #000;
}

.suggestions > li {
  text-align: left;
  padding: .5rem .5rem .5rem .6rem;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.app__chart-bar {
  fill: #ff5959;
}

.events__container {
  width: 100%;
  margin-top: 1rem;
}

.event__grid-item {
  display: inline-block;
  width: 33%;
}

.event__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  color: #284d5e;
}

.event__grid-item {
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  border-radius: 50px;
  box-shadow: 0 1px 3px #000, 0 1px 2px #000;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: auto;
  word-break: break-word;
  background-color: #b1b1b1;
  color: #000;
  opacity: 0.8;
}

.event__description {
  display: block;
  max-width: 100%;
}

.event__time {
  color: #f00000;
  font-size: 110%;
  font-weight: bold;
}

.event__name {
  font-size: 120%;
  text-decoration: underline;
  font-style: italic;
  color: #007bff;
  margin: 1rem auto;
}

.event__details-button {
  display: block;
  right: 5px;
  bottom: 5px;
  padding: 8px 10px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  margin: 3rem auto 0 auto;
  background-color: #000;
  color: #348ceb;
  font-weight: bold;
  width: 33%;
}

.event__link {
  font-style: italic;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group__name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.chart {
  background-color: #fff;
  border: 5px outset #348ceb;
  border-radius: 35px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .EventList {
    grid-template-columns: 1fr;
  }
}

